.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: var(--blue-text-color);
  @include font(700, 26px, 1.19, 0.03em);

  &__accent {
    color: var(--black-text-color);
  }

  &__accent--inverse {
    color: var(--white-color);
  }
}

.logo--head {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo--foot {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  margin-bottom: 20px;
}
