.checkbox-wrap {
  margin-bottom: 30px;
}
.checkbox-wrap__label {
  @include font(null, 14px, 1.7, 0.01em);
  color: var(--grey-text-color);
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    width: 16px;
    height: 15px;
    border: 2px solid var(--black-main-color);
    border-radius: 2px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .checkbox-wrap__input:checked + & {
      background-color: var(--blue-text-color);
      border: none;
    }

    .checkbox-wrap__input:focus + &,
    .checkbox-wrap__input:hover + & {
      border-color: var(--blue-text-color);
    }
  }
}
.checkbox-wrap__icon {
  fill: transparent;

  .checkbox-wrap__input:checked + .checkbox-wrap__label & {
    fill: var(--white-color);
  }
}
.checkbox-wrap__link {
  @include font(400, 14px, 1.7, 0.03em);
  text-decoration-line: underline;
  color: var(--blue-text-color);
  margin-left: 4px;
}
