:root {
  --black-main-color: #212121;
  --black-text-color: #000000;
  --blue-text-color: #2196f3;
  --bg-btn-color: #188ce8;
  --grey-text-color: #757575;
  --white-color: #ffffff;
  --white-text-color: rgba(255, 255, 255, 0.6);
  --bg-section-color: #f5f4fa;
  --bg-grey-color: #2f303a;
  --soc-icon-color: #afb1b8;
}
